# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar dependencias y configuración
node_modules/
package-lock.json
package.json
vite.config.js
eslint.config.js

# Ignorar carpetas de configuración/editor
.vscode/
.idea/
.vercel/

# Ignorar archivos temporales
*.log
*.env
.DS_Store
Thumbs.db
